.slideshowContainer {
  width: 100%;
  overflow: hidden;
  border-top-left-radius: 0em !important;

  img {
    border-top-left-radius: 0em;
  }
}

.slideButtons {
  display: flex;
  justify-content: space-between;
  width: 100%;

  p {
    background-color: white;
    color: $pColour;
    border-radius: 0.5em;
    border-top-left-radius: 0em;
    border-top-right-radius: 0em;
    padding: 1% 3%;
    font-size: 1.2em;
    min-width: 20%;
  }
}
